<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html lang="de" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <%# title = current_page.data.title || yield_content(:title) || "Kunsttag" %>
        <title>{Title}</title>
        {block:Description}
            <meta name="description" content="{MetaDescription}" />
        {/block:Description}
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">

        <!-- Theme Settings -->
        <meta name="color:Konzerte" content="#EB1F78"/>
        <meta name="color:Film Tanz Theater" content="#FFAB00"/>
        <meta name="color:Kunst und Medien" content="#8AC440"/>
        <meta name="color:Design" content="#29A8E0"/>

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">


        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->        
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="{Title}">
       

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->
          
        <%= stylesheet_link_tag "normalize", "main", "kunsttag" %>
        <%= javascript_include_tag  "modernizr-2.6.2.min" %>
        
        <style type="text/css">
        .konzerte {
          color: #EB1F78;
        }
        </style>

    </head>
    <body class="<%= page_classes %>">
        <header>
            <a id="logo" href="/" title="Home"><img src="/images/logo_kunsttag_150.png"></a>
            <button id="navigation-button">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <nav>
                <a class="konzerte" href="/konzerte">Konzerte</a>
                <a class="film-tanz-theater" href="/film-tanz-theater">Film, Tanz, Theater</a>
                <a class="kunst-und-medien" href="/kunst-und-medien">Kunst &amp; Medien</a>
                <a class="design" href="/design">Design</a>

                {block:HasPages}
                  {block:Pages}
                    <a href="{URL}">{Label}</a>
                  {/block:Pages}
                {/block:HasPages}
                {block:AskEnabled}
                  <a href="/ask">{AskLabel}</a>
                {/block:AskEnabled}
            </nav>
        </header>
        
        <%= yield %>

        <!-- Add your site or application content here -->
        <%= javascript_include_tag  "all" %>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,"script"));
        </script>
    </body>
</html>
